<section class="intro">
	<div class="header">
		<div class="inner">
			<div class="header-text">
				<img src="<%= asset_path 'dakota-logo.svg' %>" alt="Dakota">
				<h1><span>Tech Support. Evolved.</span>Dakota connects you with tech professionals for real-time support.</h1>
			</div>
			<a href="#">See How It Works <img src="<%= asset_path 'down-arrow.svg' %>"></a>
		</div>
	</div>
</section>

<section class="social" data-anchor-target=".intro" data-0-center-bottom="opacity: 0;" data-0-top-bottom="opacity: 1;">
	<a class="tech-link" href="#techs">Are you a tech professional?</a>
	<a class="request-link" href="#request">Request an Invite</a>
	<div class="social-share">
		<span>Share</span>
		<a class="twitter" href="https://twitter.com/share?text=@usedakota is rethinking tech support. See how at"><img src="<%= asset_path 'twitter-blue.svg' %>" alt="Share on Twitter"></a>
		<a class="facebook" href="#"><img src="<%= asset_path 'facebook-blue.svg' %>" alt="Share on Facebook"></a>
		<label for="modal-1">
	    <div class="email-share modal-trigger"><img src="<%= asset_path 'email-blue.svg' %>" alt="Share via Email"></div>
	  </label>
	</div>
</section>

<section class="walkthrough-section">
	<div class="walkthrough-wrapper">
		<div class="walkthrough" data-0-center-bottom="opacity: 1;" data-0-top-bottom="opacity: 0;">
			<div class="screens-wrapper">
				<div class="screens" data-anchor-target=".walkthrough" data-0-bottom-top="bottom: -100vh;" data--10p-top-top="bottom: 10vh;" data-0-bottom-bottom="bottom: 10vh;" data-0-top-bottom="bottom: 100vh;">
						<div class="screen fix is-transparent" data-anchor-target=".walkthrough-wrapper .fix-text" data-0-top-top="opacity: 1;" data-0-top-bottom="opacity: 0;">
							<img src="<%= asset_path 'fix-callout.png' %>" data-anchor-target=".walkthrough-wrapper .fix-text" data-0-top-top="opacity:1;" data-200-top-bottom="opacity: 0;">
						</div>
						<div class="screen match is-transparent" data-anchor-target=".walkthrough-wrapper .match-text" data-0-bottom-bottom="opacity: 0;" data-0-center-top="opacity: 1;"></div>
						<div class="screen session is-transparent" data-anchor-target=".walkthrough-wrapper .session-text" data-0-bottom-bottom="opacity: 0;" data-0-center-top="opacity: 1;">
							<img src="<%= asset_path 'session-callout.png' %>" data-anchor-target=".walkthrough-wrapper .session-text" data-0-top-top="opacity:1;" data-200-top-bottom="opacity: 0;">
						</div>
						<div class="screen solve is-transparent" data-anchor-target=".walkthrough-wrapper .solve-text" data-0-bottom-bottom="opacity: 0;" data-0-center-top="opacity: 1;">
							<img src="<%= asset_path 'solve-callout.png' %>" data-anchor-target=".walkthrough-wrapper .solve-text" data-0-top-top="opacity:1;" data-200-top-bottom="opacity: 0;">
						</div>
						<div class="screen review is-transparent" data-anchor-target=".walkthrough-wrapper .review-text" data-0-bottom-bottom="opacity: 0;" data-0-center-top="opacity: 1;"></div>
						<div class="screen tech is-transparent" data-anchor-target=".walkthrough-wrapper .tech-text" data-0-bottom-bottom="opacity: 0;" data-0-center-top="opacity: 1;">
							<img src="<%= asset_path 'tech-callout.png' %>" data-anchor-target=".walkthrough-wrapper .tech-text" data-0-top-top="opacity:1;" data-200-top-bottom="opacity: 0;">
						</div>
						<div class="screen slides-wrapper">
							<div class="slides">
								<div class="active"><img src="<%= asset_path 'fix.jpg' %>" alt=""></div>
								<div><img src="<%= asset_path 'match.jpg' %>" alt=""></div>
								<div><img src="<%= asset_path 'session.jpg' %>" alt=""></div>
								<div><img src="<%= asset_path 'solve.jpg' %>" alt=""></div>
								<div><img src="<%= asset_path 'review.jpg' %>" alt=""></div>
								<div><img src="<%= asset_path 'tech.jpg' %>" alt=""></div>
							</div>
						</div>
				</div>
			</div>
			<div class="slider-nav">
				<span class="active" data-index="0">●</span>
				<span data-index="1">●</span>
				<span data-index="2">●</span>
				<span data-index="3">●</span>
				<span data-index="4">●</span>
				<span data-index="5">●</span>
			</div>
			<div class="text-wrapper">
				<div class="text-node main fix-text active" data-anchor-target=".walkthrough-wrapper" data--5p-bottom-top="opacity: 0; top: 20vh;" data--10p-top-top="opacity: 1; top: 20vh;">
					<h2>Get your computer fixed within minutes, not days.</h2>
					<p>Just tell us what your problem is and we’ll do the rest.</p>
				</div>
				<div class="text-node match-text" data-0-bottom-bottom="opacity: 0;" data--20p-bottom-bottom="opacity: 1;" data-0p-top-top="opacity: 1;" data--10p-top-top="opacity: 0;">
					<h2>We’ll match you with an available tech in real-time.</h2>
					<p>Sit back and relax while we match you with the best tech available. No more lugging your computer across town, we offer help in minutes.</p>
				</div>
				<div class="text-node session-text" data-0-bottom-bottom="opacity: 0;" data--20p-bottom-bottom="opacity: 1;" data-0p-top-top="opacity: 1;" data--10p-top-top="opacity: 0;">
					<h2>Once matched, you’ll begin a live session with a real tech.</h2>
					<p>We take pride in our tech experts, we run through an in-depth vetting process to make sure we always have the best experts to solve your problems.</p>
				</div>
				<div class="text-node solve-text" data-0-bottom-bottom="opacity: 0;" data--20p-bottom-bottom="opacity: 1;" data-0p-top-top="opacity: 1;" data--10p-top-top="opacity: 0;">
					<h2>Talk directly with your tech and get your issue solved.</h2>
					<p>Dakota’s safe &amp; secure platform allows the tech to seamlessly fix your issue. You’ll also see exactly how much it costs, so there are no surprises.</p>
				</div>
				<div class="text-node review-text" data-0-bottom-bottom="opacity: 0;" data--20p-bottom-bottom="opacity: 1;" data-0p-top-top="opacity: 1;" data--10p-top-top="opacity: 0;">
					<h2>Shape a better community by reviewing your experience.</h2>
					<p>Your reviews matter. We will use the feedback you provide to constantly improve the experience of dakota.</p>
				</div>
				<div id="techs" class="text-node tech-text" data-0-bottom-bottom="opacity: 0;" data--20p-bottom-bottom="opacity: 1;" data-0p-top-top="opacity: 1;" data--10p-top-top="opacity: 0;">
					<h2>Dakota is for techs too. Work when you want. Make money.</h2>
					<p>Dakota makes it super easy to select, track, and get paid for your jobs. You’ll never have to look for clients again.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="users">
	<div class="inner">
		<h2>Users</h2>
		<img src="<%= asset_path 'user-icon.svg' %>" alt="User Computer">
		<ul>
			<li><strong>Always Available.</strong> 24/7.</li>
			<li><strong>Save Money.</strong> Customers on Dakota save on average $100 over traditional computer support outlets.</li>
			<li><strong>Easy.</strong> No appointments to schedule, no labor. Reduce headaches by getting your issue fixed in minutes.</li>
		</ul>
	</div>
</section>
<section class="techs">
	<div class="inner">
		<h2>Techs</h2>
		<img src="<%= asset_path 'tech-icon.svg' %>" alt="Tech Computer">
		<ul>
			<li><strong>Make Money.</strong> Get paid for your time. Invoice-free.</li>
			<li><strong>On-Demand Work.</strong> Login to Dakota whenever you want, and we'll handle finding you the jobs.</li>
			<li><strong>Beautiful Interface.</strong> Dakota makes accepting jobs easy, review a request in your dashboard, and click to accept.</li>
		</ul>
	</div>
</section>

<section class="request">
	<div class="inner">
		<div class="request-wrapper">
			<h2>Be the first to know when Dakota is ready.</h2>
			<p><span><%= @member_count %></span> people have signed up.</p>
			<span class="error">error</span>
			<%= form_tag('/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
				<%= email_field(:email, :address, {id: "email", placeholder: "Enter your email address"}) %>
				<div class="field-wrap">
					<%= check_box_tag "isTech" %>
					<label for="isTech"><span></span>I'm a tech</label>
				</div>
				<%= submit_tag "Request an invite", class: "request" %>
			<% end %>
			<!-- <div class="mobile-share">
				<span>Share</span>
				<a class="twitter" href="#"><img src="<%= asset_path 'twitter-blue.svg' %>" alt="Share on Twitter"></a>
				<a class="facebook" href="#"><img src="<%= asset_path 'facebook-blue.svg' %>" alt="Share on Facebook"></a>
				<a class="email-share" href="#"><img src="<%= asset_path 'email-blue.svg' %>" alt="Share via Email"></a>
			</div> -->
		</div>
		<div class="request-success">
			<h2>Thanks! We'll be in touch. Help spread the word.</h2>
			<a class="twitter large" href="https://twitter.com/share?text=Check out Dakota!&url=http://getdakota.com"><img src="<%= asset_path 'twitter.svg' %>" alt="Share on Twitter">Share on Twitter</a>
			<a class="facebook large" href="#"><img src="<%= asset_path 'facebook.svg' %>" alt="Post on Facebook">Post on Facebook</a>
		</div>
	</div>
</section>

<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <div class="modal-content">
      	<h2>Share via Email</h2>
      	<span class="share-email-flash"></span>
      	<%= form_tag('/email', method: "post", id: "share-email", remote: "true") do -%>
					<%= text_field(:send_email, :address, {id: "send-email", placeholder: "name@example.com"}) %>
					<%= text_area(:send_email, :message, size: '50x5', placeholder: "An optional message..") %>
					<%= submit_tag "Send", class: "send-email" %>
				<% end %>
				<button class="cancel-email">Cancel</button>
      </div>
    </div>
  </div>
</div>